beir==2.2.0
datasets==2.21.0
sentence-transformers==5.1.2
transformers==4.56.2
torch @ https://download-r2.pytorch.org/whl/cpu/torch-2.8.0%2Bcpu-cp311-cp311-manylinux_2_28_x86_64.whl ; sys_platform == "linux" and python_version == "3.11"
torch==2.8.0 ; sys_platform != "linux"
rank-bm25==0.2.2
faiss-cpu==1.12.0
pandas==2.3.3
pyarrow==20.0.0
numpy==2.3.5
scikit-learn==1.7.2
scipy==1.16.2
tqdm==4.67.1
matplotlib==3.10.6
requests==2.32.5
pydantic==2.11.9
python-dotenv==1.1.1
streamlit==1.51.0
